<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/sidebar.css">

    <% if (styles && styles.length) { %>
        <% styles.forEach(function(style) { %>
            <link rel="stylesheet" href="<%= style %>">
        <% }) %>
    <% } %>
</head>

<% if (sidebarStatus && sidebarStatus === true) { %>
    <body id="body" class="active">
<% } else { %>
    <body id="body">
<% } %>
    <div id="overlay" class="overlay display_none"></div>
    <aside class="sidebar">
        <ul>
            <li class="logo" style="--bg: #FFFFFF;">
                <a href="/dashboard">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/duolingo-logo.png" alt="duolingo-logo" />
                    <div class="logo_text">KODA GRINČI</div>
                </a>
            </li>
            <div class="Menulist">
            <% if (title && title === 'DASHBOARD') { %>
                <li style="--bg: #FFFFFF;" class="active">
            <% } else { %>
                <li style="--bg: #FFFFFF;">
            <% } %>
                <a href="/dashboard">
                    <div class="icon">
                        <img width="35" height="35" src="https://img.icons8.com/ios/50/performance-macbook.png" alt="performance-macbook" />
                    </div>
                    <div class="text active">Dashboard</div>
                    <div class="icon icon_circle">
                        <div class="circle"></div>
                    </div>
                </a>
            </li>
            <% if (title && title === 'INVOICE') { %>
                <li style="--bg: #FFFFFF;" class="active">
            <% } else { %>
                <li style="--bg: #FFFFFF;">
            <% } %>
                <a href="/invoice">
                    <div class="icon">
                        <img width="35" height="35" src="https://img.icons8.com/ios/50/bill.png" alt="bill" />
                    </div>
                    <div class="text">Invoice</div>
                    <div class="icon icon_circle">
                        <div class="circle"></div>
                    </div>
                </a>
            </li>
            <% if (title && title === 'MEMBERS') { %>
                <li style="--bg: #FFFFFF;" class="active">
            <% } else { %>
                <li style="--bg: #FFFFFF;">
            <% } %>
                <a href="/members">
                    <div class="icon">
                        <img width="35" height="35" src="https://img.icons8.com/ios/50/commercial-development-management.png" alt="commercial-development-management" />
                    </div>
                    <div class="text">Members</div>
                    <div class="icon icon_circle">
                        <div class="circle"></div>
                    </div>
                </a>
            </li>
            <% if (title && title === 'EMAIL') { %>
                <li style="--bg: #FFFFFF;" class="active">
            <% } else { %>
                <li style="--bg: #FFFFFF;">
            <% } %>
                <a href="/email">
                    <div class="icon">
                        <img width="35" height="35" src="https://img.icons8.com/ios/50/gmail--v2.png" alt="gmail--v2" />
                    </div>
                    <div class="text">E-mail</div>
                    <div class="icon icon_circle">
                        <div class="circle"></div>
                    </div>
                </a>
            </li>
            <% if (title && title === 'PROFILE') { %>
                <li style="--bg: #FFFFFF;" class="active">
            <% } else { %>
                <li style="--bg: #FFFFFF;">
            <% } %>
                <a href="/profile">
                    <div class="icon">
                        <img width="35" height="35" src="https://img.icons8.com/ios/50/admin-settings-male.png" alt="admin-settings-male" />
                    </div>
                    <div class="text">Profile</div>
                    <div class="icon icon_circle">
                        <div class="circle"></div>
                    </div>
                </a>
            </li>
             <% if (title && title === 'BUDGET') { %>
                <li style="--bg: #FFFFFF;" class="active">
            <% } else { %>
                <li style="--bg: #FFFFFF;">
            <% } %>
                <a href="/budget">
                    <div class="icon">
                        <img width="35" height="35" src="https://img.icons8.com/ios/50/accounting.png" alt="accounting" />
                    </div>
                    <div class="text">Budget</div>
                    <div class="icon icon_circle">
                        <div class="circle"></div>
                    </div>
                </a>
            </li>
            </div>
            <div class="bottom">
            <li style="--bg: #FFFFFF;">
                <a href="#">
                    <div class="icon">
                        <img width="50" height="50" src="https://img.icons8.com/ios/50/servers-group--v2.png" alt="servers-group--v2" />
                    </div>
                    <div class="dropdown" id="groupDropdown">
                        <button class="dropbtn">Here should be<span class="symbol">+</span></button>
                        <div class="dropdown-content">
                            <div href="#">This is not supposed to be here</div>
                        </div>
                    </div>
                </a>
            </li>
            <li style="--bg: #FFFFFF;">
                <a href="/logout" class="bottom_logout">
                    <div class="icon">
                        <img width="45" height="45" src="https://img.icons8.com/ios/50/easy-to-find.png" alt="easy-to-find" />
                    </div>
                    <div class="text">Logout</div>
                </a>
            </li>
            </div>
        </ul>
    </aside>

    <main>
        <div class="main_nav">
            <div class="side">
                <% if (sidebarStatus && sidebarStatus === true) { %>
                    <div class="menuToggle active"></div>
                <% } else { %>
                    <div class="menuToggle"></div>
                <% } %>
                <div><%= pageName %></div>
            </div>
            <div class="side">
                <div style="margin-right: 10px;"><%= username %></div>
                <img src="img/img1.jpg" alt="Description of image">
            </div>
        </div>
        <div class="main_container">