<%- include('partials/header') %>

<!-- ####  YOUR HTML CODE HERE START-->

<div class="form-container">
    <form id="addBudgetForm" action="/budget/addBudget" method="post">
        <div class="form_error_message displayNone">
            This is the error
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="startdatetime">Budget active from</label>
            <input type="datetime-local" id="startdatetime" name="startdatetime" required>
        </div>
        <div class="form-group">
            <label for="enddatetime">Budget active to</label>
            <input type="datetime-local" id="enddatetime" name="enddatetime" required>
        </div>
        <div class="input-group">
            <span>$</span>
            <input type="number" id="amount" name="amount" min="0" step="0.01" required>
        </div>
        <div class="form-group">
            <button type="submit">Save</button>
        </div>
    </form>
</div>

<div class="table_section">
	<table>
		<thead>
			<th style="width: 80px;">Nr</th>
			<th>Title</th>
			<th>Budget active from</th>
			<th >Budget active to</th>
            <th >amount</th>
			<th>Status</th>
            <th></th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>SIA Enefit</td>
				<td>2024-06-02</td>
				<td>$200</td>
				<td>
					<span class="enabled">enabled</span>
				</td>
				<td>
					<button class="disabled">Disable</button>
					<button class="remove">Remove</button>
				</td>
			</tr>
           
		</tbody>
	</table>
    <div class="message">
        <img width="32" height="32" src="https://img.icons8.com/windows/32/no-data-availible.png" alt="no-data-availible"/>
        <div class="title">NO BUGET YET</div>
    </div>
</div>
<div class="pagination">
	<div><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/left.png" alt="left"/></div>
	<span></span>
	<div><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/right.png" alt="right"/></div>
</div>

<!-- ####  YOUR HTML CODE HERE END-->

<%- include('partials/footer') %>