<%- include('partials/header') %>

<div class="wrapper">

	<div class="chart_container">
		<div class="title" style="text-align: center;">Invoices received</div>
		<canvas id="lineChart" ></canvas>
		<div class="lineChart_noData_wrapper" style="display: none;">
			<img width="50" height="50" src="https://img.icons8.com/ios-filled/50/data-protection.png" alt="data-protection"/>
			<span>Data Not Available</span>
		</div>
	</div>

	<div class="chart_container">
		<div class="title">Month overview: <span>01.05.2024 - 31.05.2024</span></div>
		<canvas id="pieChart"></canvas>
		<div class="pieChart_noData_wrapper">
			<img width="64" height="64" src="https://img.icons8.com/dusk/64/sad.png" alt="sad"/>
			NO DATA TO DISPLAY
		</div>
	</div>

	<div class="chart_container">
		<div class="title"></div>
		<div class="chart_center">
			<canvas id="doughnutChart"></canvas>
			<div class="doughnutChart_center">
				<div class="title">Paid</div>
				<div class="description">93%</div>
			</div>
		</div>
		<div class="doughnutChart_noData_wrapper">
			<img width="64" height="64" src="https://img.icons8.com/dusk/64/sad.png" alt="sad"/>
			NO DATA TO DISPLAY
		</div>
	</div>

</div>
<div class="wrapper" >
	<div class="left_side" >
		<div class="date-selector-container">
			<div class="date-selector">
				<label for="start-date">Start Date:</label>
				<input type="date" id="start-date" name="start-date" class="custom-date-picker">
			</div>
			<div class="date-selector">
				<label for="end-date">End Date:</label>
				<input type="date" id="end-date" name="end-date" class="custom-date-picker">
			</div>
		</div>
	</div>
	<div class="right_side">
		<div class="info_box">
			<div class="title">Balance</div>
			<div class="description">12390.98 EUR</div>
		</div>
		<div class="info_box">
			<div class="title">Due this month</div>
			<div class="description">23 invoices</div>
		</div>
		<div class="info_box">
			<div class="title">Spent this month</div>
			<div class="description">$465</div>
		</div>
	</div>
</div>
<div class="table_section">
	<table>
		<thead>
			<th>Nr</th>
			<th>Supplier</th>
			<th>Payment term</th>
			<th>Total amount</th>
			<th>Status</th>
			<th>Buttons</th>
		</thead>
		<tbody>
			<!-- <tr>
				<td>1</td>
				<td>SIA Enefit</td>
				<td>2024-06-02</td>
				<td>$200</td>
				<td>
					<span class="unpaid">unpaid</span>
				</td>
				<td>
					<button>Paid</button>
					<button>Mannage</button>
				</td>
			</tr> -->
		</tbody>
	</table>
	<div class="message">
        <img width="32" height="32" src="https://img.icons8.com/windows/32/no-data-availible.png" alt="no-data-availible"/>
        <div class="title">THERE ARE NO UNPAID INVOICES</div>
    </div>
</div>
<div class="pagination">
	<div><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/left.png" alt="left"/></div>
	<span></span>
	<div><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/right.png" alt="right"/></div>

</div>
<div>

</div>
<%- include('partials/footer') %>